<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
  <title>Fiche d'un spectacle</title>
</head>
<body>
<div class="container">
  <div layout:fragment="content">
    <h1 th:text="${show.title}">Ayiti</h1>

    //…
    <h2>Liste des représentations</h2>
    <ul th:if="${#lists.size(show.representations)>=1}">
      <li th:each="representation : ${show.representations}"
          th:text="${#temporals.format(representation.when,'dd-MM-yyyy HH:mm')}">12-10-2012 13:30</li>
    </ul>
    <p th:if="${#lists.size(show.representations)==0}">Aucune représentation</p>

    <h2>Liste des artistes</h2>
    <p><strong>Auteur:</strong>
      <span th:each="auteur,iter : ${collaborateurs['auteur']}"
            th:text="${auteur.firstname}+' '+${auteur.lastname}
		        	+ (${iter.count}==${iter.size}-1 ? ' et ':(${iter.last}?'':', '))">
	            	Firstname Lastname
	        	</span>
    </p>
    <p><strong>Metteur en scène:</strong>
      <span th:each="scenographe,iter : ${collaborateurs['scénographe']}"
            th:text="${scenographe.firstname}+' '+${scenographe.lastname}
	        		+ (${iter.count}==${iter.size}-1 ? ' et ':(${iter.last}?'':', '))">
	            	Firstname Lastname
	        	</span>
    </p>
    <p><strong>Distribution:</strong>
      <span th:each="comedien,iter : ${collaborateurs['comédien']}"
            th:text="${comedien.firstname}+' '+${comedien.lastname}
	        		+ (${iter.count}==${iter.size}-1 ? ' et ':(${iter.last}?'':', '))">
	            	Firstname Lastname
	        	</span>
    </p>

    <nav><a th:href="@{/shows}">Retour à l'index</a></nav>
  </div>
</div>
</body>
</html>
